table.programs{
    background: white;
    border: 15px outset rgb(250, 246, 246);
    border-collapse: collapse;
    font-family: Arial, Verdana, sans-serif;
    width: 100%;
}

table.programs tr{
    height: 25px;
}

table.programs th, table.programs td{
    border: 1px solid rgb(243, 235, 235);
    padding: 5px;
    vertical-align: top;
}



